@import "tailwind-vars";
@import "tailwind-vars/dist/preflight.css";

@import "./layout.scss";
@import "./header.scss";
@import "./rss.scss";
@import "./topic.scss";
@import "./user.scss";
@import "./post.scss";
@import "./comment.scss";

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  color-scheme: light;

  background: var(--bg);

  --bg: #fff;
}

html.dark {
  --bg: var(--zinc-900);
  color: #fff;
  color-scheme: dark;
}

body {
  padding: 0 var(--size-2) var(--size-4);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 639px) {
  body {
    padding-inline: var(--size-4);
  }
}
